.textos{
  background-color: yellow;
}

#rojo{
  background-color: red;

}

div{
  display: inline;
  width: 250px;
  height: 150px;
  margin-left: 10px;
  font-size: 30px;
  padding-bottom: 40px;
  padding-right: 100px;
}
